.card-input-mange-partner{padding: 14px;}
.earned-sec.card-input-mange-partner{min-height: 116px;border-color: #F13743;}
.due-date-sec span{font-size: 11px;background: #fd3743;color: #fff;padding: 3px 5px;border-radius: 3px;}
.small-text-date{font-size: 12px;margin: -2px 0 0;color: #9A9A9A;}
.main-circle-chart{padding: 20px 24px 14px;}
.circle-chart .sub-head{font-size: 15px;}
.CircularProgressbar-path {stroke: #fd3743 !important;}
.main-artists-adi-cirlce{padding: 20px 24px 0;}
.active-artist-circle{width: 170px;height: 170px;background: #FD3743 0% 0% no-repeat padding-box;border: 1px solid #FFFFFF;border-radius: 100%;display: flex;align-items: center;justify-content: center;color: #fff;font-size: 22px}
.dactive-artist-circle{width: 117px;height: 117px;background: #B8B8B8 0% 0% no-repeat padding-box;border: 2px solid #FFFFFF;border-radius: 100%;display: flex;align-items: center;justify-content: center;color: #fff;font-size: 22px;position: absolute;top: 0px;right: 82px;}
.inactive-artist-circle{width: 80px;height: 80px;background: #000000 0% 0% no-repeat padding-box;border: 2px solid #FFFFFF;border-radius: 100%;display: flex;align-items: center;justify-content: center;color: #fff;font-size: 22px;position: absolute;right: 114px;bottom: 0px;}
.show-artist-box{margin: 22px 0 0;}
.inner-show-artist-abox{width: 18px;height: 17px;background: #FD3743 0% 0% no-repeat padding-box;border-radius: 4px;}
.inner-show-artist-text{font-size: 11px;}
.dbox{background: #B8B8B8;}
.inbox{background: #000000;}
.table-active-sec{vertical-align: top;font: italic normal normal 20px/24px Lato;letter-spacing: 0px;color: #000000;opacity: 0.5;font-size: 14px;margin: 0 0 0 12px;}
.table-scroll thead th{z-index: 1;}
.event-analysis-sec.main-circle-chart {padding: 8px 0 0;}
.event-analysis-sec.main-circle-chart .circle-chart .sub-head {font-size: 13px;line-height: 17px;margin: 5px 0 0;}
.main-event-analysis-sec.earned-sec.card-input-mange-partner {min-height: 122px;}
.green-text-bottom{position: absolute;bottom: 10px;right: 12px;color: #0E8F17;font-size: 14px;}
.green-color{color: #0E8F17;}
.all-doc-info{background: #FFFFFF 0% 0% no-repeat padding-box;box-shadow: 1px 3px 16px #FEEAEC;border: 1px solid #70707016;border-radius: 12px;padding: 12px;}
.all-doc-info .inner-all-doc-info{margin: 0 0 20px;}
.all-doc-info .inner-all-doc-info .icos{background: #FFFFFF 0% 0% no-repeat padding-box;border-radius: 32px;padding: 8px 12px;border: 1px solid #70707033;}
.all-doc-info .inner-all-doc-info .head{white-space: nowrap;width: 125px;overflow: hidden;text-overflow: ellipsis;}
.all-doc-info .inner-all-doc-info .sub-head{color: #949494;}
.inner-all-doc-info-doc{background: #FDFDFD 0% 0% no-repeat padding-box;box-shadow: 1px 2px 4px #00000029;border: 0.5px solid #858585;border-radius: 8px;padding: 10px;}
.all-doc-info .inner-all-doc-info .icos.icos-doc{border: 1px solid #FF4040;}

/* Manage User dashboard */
.earned-sec.card-input-mange-partner.usermange-mange-partner {border-color: #EDE6E7;}
.gift-td{color: #fff;background: #F13743 0% 0% no-repeat padding-box;border: 1px solid #B5B5B5;display: inline-block;padding: 3px 17px; border-radius: 30px;}
.gift-td svg{margin: 0 0 5px 2px;}
.block-td{color: #F13743;background: #FFFFFF 0% 0% no-repeat padding-box;border: 1px solid #F13743;display: inline-block;padding: 3px 17px; border-radius: 30px;}
.block-td svg{margin: 0 0 2px 2px;}
